.header{
	border:1px solid;
	margin:0 auto;
	background-image:url(HEADER.png);
	height: 330px;
	width: 1020px; 
}
.menu{
	border:1px solid ;
	background: black;
	margin:0 auto;
	height: 50px;
	width: 1020px; 
}
li{
	display: inline-block;
	margin-left: 80px;
}
p{
	
	background:black;
	color:white;
	height:35px;
	width:150px;
	text-align: center;

}
.heraxos{
	position: absolute;
	top:12px;
	left:820px;
}
b{
	color:red;
}
.a{
	margin:0 auto;
	border:5px solid red;
	width: 1020px; 

}
.footer{
	border:5px solid red;
	height:902px;
}
.footerip{

	height:900px;
	width: 1010px;
	border: 2px solid;
	background: black;
}
h1{
color:white;
margin-left: 500px;
}
img{
	margin: 15px;
	border:2px solid red;
	float: left;
	width:300px;
	height: 300px;
}
span{
	margin-left: 10px;
	color:white;
}
#nkar1{
	height: 500px;
	width: 500px;
	border:2px solid red;
}

.realfooter{
	margin:0 auto;
	background: black;
	border:10px solid red;
	box-sizing: border-box;
	height: 400px;
	width: 1020px
}
.h{
	margin-right: 100px;
	text-align: center;
}
.ul1{
	margin-left: 20px;
	display: inline-block;
}
.k{
	border:2px solid red;
	margin:0 auto;
	width: 700px;
}
.m{
	border:2px solid red;
	margin:0 auto;
	width: 700px;
	height:150px;
}
h2{
	margin-left: 230px;
	color:white;
}
.er{
	color:red;
	margin-left:  20px;
	margin-top: 20px;
}
.in{
	margin:10px;
}
#html{
	margin-left:380px;

}
#s{
	margin-left:250px ;
}
#kr{
	margin-left: 100px;
}
select{
	margin-left: 350px;

	width: 200px;
	height:100px;
}
iframe{
	margin:0 auto;

width: 1016px;
	height:900px;
}
li:hover{
	background:white;

}


body{
	background-color: yellow;
}